.tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :focus-visible {
      box-shadow: none;
    }
    li {
      margin: 0;
      padding: 0;
    }
  }

  @layer components {
    .grid {
      gap: 0;
    }
    .grid > * {
      min-height: auto;
    }
  }
}

@layer components {
  .c-typography__variant--p {
    margin-top: calc(var(--base, 8px) * 2);
  }
}

.cards-navigation {
  background-color: var(--navigation-card-color);
}
